<?xml version="1.0" encoding="GBK"?>
<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%d{HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}) -
                %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>